
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        body {
            background-color: #f4f4f8;
            font-family: 'Poppins', sans-serif;

        }

        h1, h2 {
            color: #2c3e50;
            text-align: center;
            margin-top: 30px;
        }

        .formulario {
            background: #ffffff;
            border-radius: 12px;
            padding: 30px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
        }

        .registro {
            background: #d0e6e6;
            border-radius: 12px;
            padding: 20px;
            text-align: center;
            margin-top: 20px;
        }

.btn-purple {
    background-color: #53b792;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
}

.btn-purple:hover {
    background-color: #338b7c;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


        .carrusel-track {
            display: flex;
            gap: 20px;
            animation: scroll-left 40s linear infinite;
            width: max-content;
        }

        .carrusel-track:hover {
            animation-play-state: paused;
        }

        .carrusel-track img {
            width: 300px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            transition: transform 0.3s ease;
        }

        .carrusel-track img:hover {
            transform: scale(1.05);
        }

        @keyframes scroll-left {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-50%);
            }
        }

        /*Estilo de alojamiento.html*/
.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
  }
  
  .foto {
    background: white;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .foto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .foto p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #444;
  }
  .foto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .foto img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  

  /*Lo hacemos responsivo*/
  @media (max-width: 1024px) {
    .galeria {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .galeria {
      grid-template-columns: 1fr;
    }
  }
